.popup__container_type_delete {
    background-color: #fff;
    color: #000;
    width: calc(100% - 2 * 19px);
    max-width: 430px;
    box-sizing: border-box;
    padding: 25px 22px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, .15);
}

@media screen and (min-width: 768px) {
    .popup__container_type_delete {
        padding: 34px 36px 37px;
    }
}