.place__like-button {
    background-image: url('../../../images/buttons/like-button.svg');
    background-color: #0000;
    width: 22px;
    height: 19px;
    border: none;
}

.place__like-button:hover {
    opacity: .5;
}