@import url('./vendor/normalize.css');
@import url('./vendor/fonts.css');

@import url('./blocks/page/page.css');
@import url('./blocks/page/__content/page__content.css');
@import url('./blocks/header/header.css');
@import url('./blocks/header/__logo/header__logo.css');

@import url('./blocks/main/main.css');

@import url('./blocks/profile/profile.css');
@import url('./blocks/profile/__avatar/profile__avatar.css');
@import url('./blocks/profile/__img/profile__img.css');
@import url('./blocks/profile/__info/profile__info.css');
@import url('./blocks/profile/__username/profile__username.css');
@import url('./blocks/profile/__edit-button/profile__edit-button.css');
@import url('./blocks/profile/__job/profile__job.css');
@import url('./blocks/profile/__add-button/profile__add-button.css');

@import url('./blocks/places/places.css');

@import url('./blocks/place/place.css');
@import url('./blocks/place/__delete-button/place__delete-button.css');
@import url('./blocks/place/__image-container/place__image-container.css');
@import url('./blocks/place/__image/place__image.css');
@import url('./blocks/place/__caption/place__caption.css');
@import url('./blocks/place/__title/place__title.css');
@import url('./blocks/place/__like-button/place__like-button.css');
@import url('./blocks/place/__like-button/_active/place__like-button_active.css');
@import url('./blocks/place/__like-score/place__like-score.css');

@import url('./blocks/footer/footer.css');

@import url('./blocks/popup/popup.css');
@import url('./blocks/popup/_type/popup_type_add.css');
@import url('./blocks/popup/_type/popup_type_big-image.css');
@import url('./blocks/popup/_type/popup_type_edit.css');
@import url('./blocks/popup/_type/popup_type_delete.css');
@import url('./blocks/popup/_type/popup_type_avatar.css');

@import url('./blocks/popup/_opened/popup_opened.css');
@import url('./blocks/popup/__container/popup__container.css');
@import url('./blocks/popup/__container/_type/popup__container_type_add.css');
@import url('./blocks/popup/__container/_type/popup__container_type_big-image.css');
@import url('./blocks/popup/__container/_type/popup__container_type_edit.css');
@import url('./blocks/popup/__container/_type/popup__container_type_delete.css');
@import url('./blocks/popup/__container/_type/popup__container_type_avatar.css');

@import url('./blocks/popup/__close-button/popup__close-button.css');
@import url('./blocks/popup/__image/popup__image.css');
@import url('./blocks/popup/__caption/popup__caption.css');
@import url('./blocks/popup/__title/popup__title.css');
@import url('./blocks/popup/__form/popup__form.css');
@import url('./blocks/popup/__input/popup__input.css');
@import url('./blocks/popup/__input/_type/popup__input_type_error.css');
@import url('./blocks/popup/__error/popup__error.css');
@import url('./blocks/popup/__error/popup__error_visible.css');
@import url('./blocks/popup/__submit-button/popup__submit-button.css');
@import url('./blocks/popup/__submit-button/popup__submit-button_disabled.css');

@import url('./blocks/button/button.css');